/*
  style.css
  Feel free to change this CSS for your own purposes
*/

/* Using font-size: larger to make things pop. Feel free to change. */
/* html body {
    color: white;
    font-size: x-large;
}

h1 {
    margin-bottom: 0;
    margin-left: 120px;
}

h6 {
    margin-top: 10px;
    margin-left: 120px;
}

h3 {
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */


html body{
    height: 100%;
    margin: 0;
    text-align: center;


}

/* style for the background of the game. */
#bg {
    position:absolute;
    min-width:100%;
    min-height: 100%; 
    background-image: url("./image/spooky.jpg");  
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position:  center; 
}

/*style for the title of the game */
#title {
    font-size: 70px;
    margin-top:22%;
    color: rgb(0, 0, 0); 
}

/* style for the start button of the game. */
#start_game {
    /**margin-top:25%; **/
    padding-right: 10px;
    border-radius: 0.8rem;
    border-style: solid;
    background: rgb(70, 54, 208);
    border-color: black;
    font-size: 32px;
}

#start_game:hover {
    background: linear-gradient(to right,  rgb(10, 15, 45) 0%, rgb(70, 54, 208) 100%);

}

